<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidlab"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.GET_TASKS" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.androidlab.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.androidlab.FirstActivity"
            android:label="@string/title_activity_first"
            android:taskAffinity="xxx.com" >
        </activity>
        <activity
            android:name="com.example.androidlab.TestActivityResultActivity"
            android:label="@string/title_activity_test_activity_result" >
        </activity>
        <activity
            android:name="com.example.androidlab.TaskMonitorActivity"
            android:label="@string/title_activity_task_monitor" >
        </activity>
        <activity
            android:name="com.example.activitykillnoresult.SenderActivity"
            android:label="@string/title_activity_sender"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.activitykillnoresult.NoResultSenderActivity"
            android:label="@string/title_activity_no_result_sender" >
        </activity>
        <activity
            android:name="com.example.activitykillnoresult.NoResultRecieveActivity"
            android:label="@string/title_activity_no_result_recieve"
            android:parentActivityName="com.example.androidlab.EhBaseActiity"
            android:process=":b_process"
            android:taskAffinity="com.fuck.sb" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidlab.EhBaseActiity" />
        </activity>
        <activity
            android:name="us.stupidx.intent_filter.IntentDashboardActivity"
            android:label="@string/title_activity_intent_dashboard" >
        </activity>
        <activity
            android:name="us.stupidx.intent_filter.IntentLaunchThisActivity"
            android:label="@string/title_activity_intent_launch_this"
            android:parentActivityName="com.example.androidlab.EhBaseActiity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidlab.EhBaseActiity" />
        </activity>
        <activity
            android:name="us.stupidx.filelab.ReadDataAppActivity"
            android:label="@string/title_activity_read_data_app"
            android:parentActivityName="com.example.androidlab.EhBaseActiity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidlab.EhBaseActiity" />
        </activity>
        <activity
            android:name="us.stupidx.androidpush.AndroidPushRecieveActivity"
            android:label="@string/title_activity_android_push_recieve" >
        </activity>
        <activity
            android:name="us.stupidx.androidpush.SocketClientActivity"
            android:label="@string/title_activity_socket_client" >
        </activity>
        <activity
            android:name="us.stupdx.annotations.AnnotationActivity_"
            android:label="@string/title_activity_annotation" >
        </activity>
    </application>

</manifest>